<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Karamunting.Android.Kotlin.StdLib" version="1.2.71" targetFramework="monoandroid81" />
  <package id="Karamunting.Kotlin.StdLib.Jdk7" version="1.2.71" targetFramework="monoandroid81" />
  <package id="Naxam.SquareUp.OkHttp3.LoggingInterceptor" version="3.11.0" targetFramework="monoandroid81" />
  <package id="nventive.Binding.TrustDefender" version="1.0.0" targetFramework="monoandroid81" />
  <package id="Square.OkHttp3" version="3.8.1" targetFramework="monoandroid81" />
  <package id="Square.OkIO" version="1.13.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.0.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.0.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Annotations" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Compat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Constraint.Layout" version="1.1.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Constraint.Layout.Solver" version="1.1.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.UI" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Core.Utils" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Design" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Fragment" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Media.Compat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Transition" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v4" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Base" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Basement" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Identity" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Maps" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Wallet" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Yandex.Metrica.Xamarin" version="2.0.0" targetFramework="monoandroid81" />
</packages>